
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* -------shared style--------- */
.margin-auto {
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.bg-nevy-bleu {
    background-color: #1a0b2e;
}

.btn-primary {
    font-size: 1rem;
    font-weight: 600;
    padding: 12.5px 20px;
    border: none;
    border-radius: 10000px;
    background: linear-gradient(to top right, #f7e93f, #FB09B4, #9100F8);
    color: white;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.text-white {
    color: #ffffff;
}

.section-title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

/* ---------navbar style--------- */
.navbar {
    max-width: 1200px;
    padding: 16px 0px;
    justify-content: space-between;
    align-items: center;

}

.logo>img {
    width: 100%;
    display: block;
}

.menue-bar {
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.menue-list {
    list-style: none;
    font-size: 1rem;
    font-weight: 500;

}

.menue-list>a {
    text-decoration: none;

}

.hambarger-icon {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;

}

